<?xml version="1.0"?>
<launch>

  <!-- <arg name="port" default="/dev/ttyUSB0"/> -->

  <!-- <rosparam command="load" file="$(find daly_bms)/config/params.yaml" /> -->

  <node pkg="daly_bms" type="daly_bms_node.py" name="daly_bms" output="screen">
    <rosparam command="load" file="$(find daly_bms)/config/params.yaml" />
  </node>

</launch>
